*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background-image: url("image/background.jpeg");
    background-size: cover;



    height: 100vh;
    width: 100%;

    
}
nav{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.logo{
    width: 10%;
    /* position: relative;
    left: 15%; */
}
Button{
      
    

    position: relative;
    top: 50px;
    right: 100px;
     padding: 10px 20px;  
    width: 100px;
    height: 35px;
    background-color: #e60914;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.hero h1{
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
}
.para-1{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.para-2{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
#email{
    width: 500px;
    border: 1px solid rgb(253, 248, 248);
    height: 60px;
    background-color: transparent;
     border-radius: 10px;
     color: white;
     font-size: 25px;
padding: 10px;
}
#submit{
    height: 60px;
    width: 200px;
    background-color: #e60914;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.form{
    text-align: center;
    margin-top: 30px;
}
.ful{
    background-color: black;
    width: 100%;
    padding: 5% 20%;
}
h1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}
.card-1{
    display: flex;

    gap: 40px;
    overflow-x: scroll;
    /* overflow: hidden; */
    scrollbar-width: none;
    
}
.number{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;

    /* margin-top: 20px; */
 position: relative;
 right: 50px;

}
.card{
    min-width: 250px;
/* z-index: 1; */
    border-radius: 10px;
    
}

.card img{
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;

}
h2{
    font-size: 110px;

    cursor: pointer;
        color: white;
    position: relative;
    bottom: 150px;
    right: 50px;
}
.more{
    position: relative;
    /* bottom: 20px; */

}         
.simple-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}
.box{
    width: 274px;
    height: 308px;
    border-radius: 25px;
    color: white;
    padding-left: 30px;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 40px ;
        background-image: linear-gradient(to bottom, rgb(31, 21, 168), pink);

}
.box:hover{
    box-shadow: 0 4px 8px 0 rgba(241, 238, 238, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
h3{
    color: white;
    font-size: 30px;
    padding-top: 20px;
 }
.para-6{
    color: white;
    font-size: 20px;
    padding-top: 20px;
}
.icon{
    padding-top: 50px;
    padding-left: 140px;
    position: relative;
    left: 40px;

}
.icon-1{
    padding-top: 50px;
    padding-left: 140px;
    position: relative;
    left: 20px;
}
.icon-2{
    padding-top: 7px;
    padding-left: 140px;
    position: relative;
    left: 40px;
}
.icon-3{
    padding-top: 70px;
    padding-left: 140px;
    position: relative;
    left: 15px;
}
.icon-4{
    padding-top: 20px;
    padding-left: 140px;
    position: relative;
    left: 15px;
}
.question{
    color: white;
}
.text-question{
    font-size: 24px;
    /* height: 75px; */
    width: 100%;
    padding-left: 20px;
    
}
.span{
    /* margin-right: 10px; */
    font-size: 30px;
    /* padding-left: 40px; */
}
.plus{
     display: flex;
    row-gap: 20px;
    width: 100%;
    align-items: center;
    /* gap: 65%; */
    background-color: #2D2D2D;
    margin-bottom: 20px;
    height: 75px;
    padding: 3px 20px;
}
.question :hover{
    background-color: rgb(80, 73, 73);
}
.space{
    font-size: 40px;
    padding-top: 20px;
}
.para-3{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}
.para-7{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: underline;
}
.links{
      display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
a{
    color: white;
  
}
select{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
}
.para-4{
    color: white;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.para-5{
    color: white;
    font-size: 16px;
    margin-top: 20px;
}
span{
    text-decoration: underline;
    color: blue;
}
.botm-btn{
    margin-bottom: 10px;
    margin-top: 60px;
    background-color: #e60914;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    display: none;
    
}
@media screen and (max-width:600px){
       .simple-card{ width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
       }
       Button{
        
    position: relative;
    top: 15px;
    right: 0px;

} 
.botm-btn{
    display: flex;
}  
.logo{
    width: 35%;
}
    .box{
        width: 100%;
        height: 300px;
      margin-bottom: 10px;
        padding: 10px;
    }
    .hero h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 200px;
}

    .hero{
width: 100vw;
background-size: contain ;
    }
    .ful{
        padding: 20px;
    }
    .links{
              display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    }
    #email{
        width: 85%;
        color: whitesmoke;
        height: 50px;
        margin-bottom: 10px;

    }
    #submit{
        width: 180px;
        height: 50px;
    }
    .plus{
        width: 100%;
        padding: 3px 0px;

    }
    .card-1{
        display: flex;
                padding-left: 20px;
    }
    .card{

        min-width: 120px;
    }
    .card h2{
        font-size: 70px;
        bottom: 100px;
        right: 5px;
    }
    .text-question{
        width: 80%;
        font-size: 20px;
    }
    .more{
        font-size: 20px;
    }
}
